In [2]:
import pandas as pd
import numpy as np
import seaborn as nsn
import matplotlib.pyplot as plt
print ("Modules are imported")

Modules are imported

In [3]:
corona_dataset_cvs=pd.read_csv("WHO-COVID-19-global-data.csv")
corona_dataset_cvs.head() #show head datafrain, inside parameters you can use 10, 1, 2

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
0,2020-02-24,AF,Afghanistan,EMRO,5,5,0,0
1,2020-02-25,AF,Afghanistan,EMRO,0,5,0,0
2,2020-02-26,AF,Afghanistan,EMRO,0,5,0,0
3,2020-02-27,AF,Afghanistan,EMRO,0,5,0,0
4,2020-02-28,AF,Afghanistan,EMRO,0,5,0,0

In [4]:
df=corona_dataset_cvs.groupby(['Date_reported',' Country']).size().reset_index(name='contagios')

In [5]:
df

,Date_reported,Country,contagios
0,2020-01-04,China,1
1,2020-01-05,China,1
2,2020-01-06,China,1
3,2020-01-07,China,1
4,2020-01-08,China,1
...,...,...,...
34895,2020-08-14,Viet Nam,1
34896,2020-08-14,Yemen,1
34897,2020-08-14,Zambia,1
34898,2020-08-14,Zimbabwe,1
34899,2020-08-14,"occupied Palestinian territory, including east...",1

In [6]:
df=df.groupby(" Country").sum()

In [7]:
print(corona_dataset_cvs.columns.tolist())

['Date_reported', ' Country_code', ' Country', ' WHO_region', ' New_cases', ' Cumulative_cases', ' New_deaths', ' Cumulative_deaths']

In [8]:
df

                                                    contagios
 Country
Afghanistan                                               173
Albania                                                   159
Algeria                                                   172
Andorra                                                   165
Angola                                                    147
...                                                       ...
Viet Nam                                                  204
Yemen                                                     127
Zambia                                                    150
Zimbabwe                                                  148
occupied Palestinian territory, including east ...        163

[216 rows x 1 columns]

In [9]:
df.shape

(216, 1)